#gField {
  border: 0px;
  font-size: 12px;
  background-color:DodgerBlue;
  color:white;
}
#gPix{
  width: 24px;
  color:yellow;
}
#gClear{
  width: 24px;
  color: black;
  background-color:DodgerBlue;
}