#gField {
  border: 0px;
  font-size: 10px;
  text-align: center;
}
#gPix{
  width: 20px;
  height: 20px;
  color:yellow;
  background-color:DodgerBlue;
}
#gClear{
  width: 24px;
  color: black;
  background-color:White;
}