.gField {
  border: 0px;
  font-size: 18px;
  text-align: center;
}
.gPix{
  width: 20px;
  height: 20px;
  background-color:DodgerBlue;
}
.gClear{
  width: 24px;
  color: black;
  background-color:White;
  font-size: 12px;
}
.gStart{
  width: 24px;
  color: black;
  background-color: Aquamarine;
  font-size: 12px;
}
.gEnd{
  width: 24px;
  color: black;
  background-color:LightGreen;
  font-size: 12px;
}
.player{
  font-size: 12px;
}
.question{
  background-color:LightBlue;
}